// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant


$base_color: #1C1C1C;
$text_color: #DADADA;
$bg_color: #1C1C1C;
$fg_color: #DADADA;

$selected_fg_color: #DADADA;
$selected_bg_color: #3A85E2;
$selected_borders_color: #3A85E2;
$borders_color: #2D2D2D;
$hover_color: #383838;

$link_color: #3A85E2;
$link_visited_color: #3A85E2;

$selection_mode_bg: #1C1C1C;
$selection_mode_fg: $selected_fg_color;
$warning_color: #F27835;
$error_color: #FC4138;
$warning_fg_color: white;
$error_fg_color: white;
$success_color: #73d216;
$destructive_color: #F04A50;
$suggested_color: #4DADD4;
$destructive_fg_color: white;
$suggested_fg_color: white;

$drop_target_color: #F08437;

//insensitive state derived colors
$insensitive_fg_color: #707070;
$insensitive_bg_color: #242424;

$header_bg: #1A1717;

$header_bg_backdrop: #1A1717;

$header_border: #1A1717;

$header_fg: #DADADA;

$dark_sidebar_bg: #1A1717;
$dark_sidebar_fg: #DADADA;
$dark_sidebar_border: #1A1717;

$osd_fg_color: $dark_sidebar_fg;
$osd_bg_color: $dark_sidebar_bg;

$osd_button_bg: #2B2B2B;
$osd_button_border: #2B2B2B;

$osd_entry_bg: #2B2B2B;
$osd_entry_border: #2B2B2B;

$osd_insensitive_bg_color: #242424;
$osd_insensitive_fg_color: #707070;
$osd_borders_color: #2D2D2D;

$panel_bg: #1A1717;
$panel_fg: #1A1717;

$entry_bg: #2B2B2B;
$entry_border: #2B2B2B;

$header_entry_bg: #2B2B2B;
$header_entry_border: #2B2B2B;

$button_bg: #2B2B2B;
$button_border: #2B2B2B;

$header_button_bg: #2B2B2B;
$header_button_border: #2B2B2B;

//WM Buttons

// Close
$wm_button_close_bg: if($variant == 'light' and $darker == 'false', #f46067, #cc575d);
$wm_button_close_hover_bg: if($variant == 'light' and $darker == 'false', #f68086, #d7787d);
$wm_button_close_active_bg: $selected_bg_color;

$wm_icon_close_bg: if($variant == 'light' and $darker == 'false',#F8F8F9 , #2f343f);

// Minimize, Maximize
$wm_button_hover_bg: #2B2B2B;
$wm_button_active_bg: $selected_bg_color;

$wm_button_hover_border: if($variant == 'light' and $darker == 'false', #D1D3DA, #262932);

$wm_icon_bg: if($variant == 'light' and $darker == 'false', #90949E, #90939B);
$wm_icon_unfocused_bg: if($variant == 'light' and $darker == 'false', #B6B8C0, #666A74);
$wm_icon_hover_bg: if($variant == 'light' and $darker == 'false', #7A7F8B, #C4C7CC);
$wm_icon_active_bg: $selected_fg_color;
